<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="container">
        <form action="/predict" method="post">
            <h1 id="title">Car Price Predictor</h1>
            <br>
            <label for="carwidth">Car Width (inches)</label>
            <br>
            <input type="text" name="carwidth" required>
            <br>
            <label for="carlength">Car Length (inches)</label>
            <br>
            <input type="text" name="carlength" required>
            <br>
            <label for="carheight">Car Height (inches)</label>
            <br>
            <input type="text" name="carheight" required>
            <br>
            <label for="enginesize">Engine Size</label>
            <br>
            <input type="text" name="enginesize" required>
            <br>
            <label for="horsepower">Horsepower</label>
            <br>
            <input type="text" name="horsepower" required>
            <br>
            <input type="submit" id="submit" value="Predict Car Price">
            <br><br>
            {% if predicted_price %}
                <center><h3>Predicted Car Price: ${{ '%.2f'|format(predicted_price[0]) }}!</h3></center>
            {% endif %}
        </form>
    </div>
</body>

</html>